
// Layout
$accentcolor: #c80469;
$lightcolor: #f3f9fe;
$superlight: #fff;
$darkcolor: #272733;
$footercolor: #230a32;


 

// Text

$lightTextColor: #fff;

$mainfont: 'Nunito', sans-serif;
$secondfont: 'Roboto', sans-serif;

