.markers-group {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    list-style: none;
    padding: 20px;
    margin: 0;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba($color: #fff, $alpha: 0.7);
    cursor: pointer;
    margin: 15px auto;
    transition: transform 0.5s ease-in,
               background-color 0.5s ease-in; 

    &:first-child {
        margin-top: 0;
    }

    &--active {
        transform: scale(1.5);
        background:  rgba($color: red, $alpha: 0.7);
    }
}