.topsection {
    background: black;
    height: 200%;
    // perspective: 60px;
}

.topsection__bg-group {
    width: 100%;
    height: 200%;
    position: absolute;
    background: linear-gradient(0deg, rgba(237,228,222,1) 0%, rgba(127,148,155,1) 25%, rgba(52,69,76,1) 67%, rgba(0,3,12,1) 100%);
}

.topsection__bg {
    position: absolute;

    &--stars {
        width: 500vh;
        height: 500vh;
        top: -60%;
        left: -100%;
    }

    // &--mount {
    //     width: 100%;
    //     height: 333px;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     background-image: url(../img/mount.png);
    //     background-size: 800px 333px;
    //     background-position-x: center;
    // }
}

.stars {
    background-image: url(../img/stars.png);
    background-size: 800px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    animation: stars1 infinite 240s linear; 
   

    @keyframes stars1 {
        // from {
        //     transform: rotate(0);
        // }
        to {
            transform: rotate(1turn);
        }
    }


        &--small {
            background-size: 360px;
            opacity: 0.3;
            animation: stars2 infinite 480s linear; 
        }

        @keyframes stars2 {
            // from {
            //     transform: rotate(0);
            // }
            to {
                transform: rotate(1turn);
            }
        }
}

.bg-img--mount {
    width: 100%;
    display: block;
    height: auto;
    bottom: -2px;
    margin: 0 auto;
    position: absolute;
}


$timing: 10s;

.topsection-dscr {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-family: "STARWARS", sans-serif;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 3px;
    color: yellow;
    text-align: center;
    font-size: 2rem;
    transform: perspective(250px) rotateX(14deg);
    transform-origin: 50% 100%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    overflow: hidden;
    // opacity: 0;
    // animation: 0s textanimete1 10s linear forwards;

    // @keyframes textanimete1 {
    //     to {opacity: 1}
    // }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 40%;
    //     background: linear-gradient(to bottom, #0a0f18d6 0%, rgba(0,0,0,0) 100%);
    //     top: 0;
    //     left: 0;
    //     z-index: 99;
    // }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 5%;
    //     background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,  #26343b 100%);
    //     bottom: 0;
    //     left: 0;
    // }

    .dscr-title {
      position: absolute;
      top: 100%;
      transform: translateY(0);
      animation: 350s textanimete $timing linear;

        @keyframes textanimete {
            to {transform: translateY(-100%)}
        }
    }
}

.intro {
    background: url(../img/sw.svg) center no-repeat;
    background-size: cover;
    margin: 50px;
    width: 1000px;
    height: 428px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: $timing intro 1s linear forwards;
    
    @keyframes intro {
        99% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }

        100% {
            display: none; 
            transform: translate(-50%, -50%) scale(0);
        }
    }
}

